.darkveil-canvas {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
    animation-delay: 0.5s;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}