.scroll-stack-scroller {
    position: relative;
    width: 100%;
    height: auto;
    overflow: visible;
}

.scroll-stack-inner {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-stack-card-wrapper {
    position: relative;
    width: 100%;
}

.scroll-stack-card {
    transform-origin: top center;
    will-change: transform, filter;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);

    width: 100%;
    max-width: 1200px;
    height: auto;
    aspect-ratio: 16/9;

    margin: 0 0 50vh 0;
    padding: 0;

    border-radius: 20px;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    position: sticky;
    top: 15vh;
}



.scroll-stack-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.scroll-stack-end {
    width: 100%;
    height: 1px;
}